<html>
    <head>
    </head>
    <body>
        <H2>REGISTRATION FORM</H2>
        <table>
            <tr>
                <td>Name :</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr>
                <td>Age :</td>
                <td><input type="text" name="age"></td>
            </tr>
            <tr>
                <td>Course :</td>
                <td><input type="text" name="course"></td>
            </tr>
            <tr>
                <td>Ph :</td>
                <td><input type="text" name="ph"></td>
            </tr>
            <tr><input type="submit" value="Submit">
                </tr>
            </table>
    </body>
    </html>
    