{% extends "master.html" %}
{% block maincontent %}


<section class="content">
  <div class="row">
    <div class="col-12">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Dashboard</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Workname</th>
                <th>Assigned to</th>
                <th>Status</th>
                <th>Assigned on</th>
            </tr>
            </thead>
            <tbody>
              {% for al in data %}
              <tr>
                 <td>{{al.workname}}</td>
                 <td>{{al.developer}}</td>
                 <td>{{al.workprogress}}</td>
                 <td>{{al.date}}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <th>Workname</th>
                <th>Assigned to</th>
                <th>Status</th>
                <th>Assigned on</th>
            </tr>
            </tfoot>
          </table>
        </div>
      
      
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% endblock %}
{% block sidebarusername %}
{{username}}
{% endblock %}
